<connectionStrings>
  <add name="DEMOPRIV" providerName="Oracle.DataAccess.Client" connectionString="Data Source=DEMOPRIV;User Id=PRIV[ERESULTS_V2_16R101];Password=PRIV" ></add>
  <add name="CPCHS_LOCAL_HSDEV" providerName="Oracle.DataAccess.Client" connectionString="Data Source=HSDEV;User Id=ERESULTS_V2_16R101;Password=ERESULTS_V2_16R101"  ></add>
  <add name="LOGDB" providerName="Oracle.DataAccess.Client" connectionString="Data Source=HSDEV;User Id=DOTNET_16R101;Password=DOTNET_16R101" />
</connectionStrings>