<exceptionHandling>
	<exceptionPolicies>
		<add name="Exception Policy">
			<exceptionTypes>
				<add type="System.Exception, mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
					postHandlingAction="NotifyRethrow" name="Exception">
					<exceptionHandlers>
						<add logCategory="General" eventId="100" severity="Error" title="Enterprise Library Exception Handling"
							formatterType="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.XmlExceptionFormatter, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling"
							priority="0" type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Logging.LoggingExceptionHandler, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Logging"
							name="Logging Handler" />
					</exceptionHandlers>
				</add>
			</exceptionTypes>
		</add>
		<add name="Business Entities Exception Policy">
			<exceptionTypes>
				<add type="System.Exception, mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
					postHandlingAction="NotifyRethrow" name="Exception">
					<exceptionHandlers>
						<add logCategory="General" eventId="100" severity="Error" title="Enterprise Library Exception Handling"
							formatterType="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.XmlExceptionFormatter, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling"
							priority="0" type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Logging.LoggingExceptionHandler, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Logging"
							name="Logging Handler" />
					</exceptionHandlers>
				</add>
			</exceptionTypes>
		</add>
		<add name="Database Exception Policy">
			<exceptionTypes>
				<add type="System.Exception, mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
					postHandlingAction="NotifyRethrow" name="Exception">
					<exceptionHandlers>
						<add logCategory="General" eventId="100" severity="Error" title="Enterprise Library Exception Handling"
							formatterType="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.XmlExceptionFormatter, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling"
							priority="0" type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Logging.LoggingExceptionHandler, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Logging"
							name="Logging Handler" />
					</exceptionHandlers>
				</add>
			</exceptionTypes>
		</add>
		<add name="Proxy Exception Policy">
			<exceptionTypes>
				<add type="System.Exception, mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
					postHandlingAction="NotifyRethrow" name="Exception">
					<exceptionHandlers>
						<add logCategory="General" eventId="100" severity="Error" title="Enterprise Library Exception Handling"
							formatterType="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.XmlExceptionFormatter, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling"
							priority="0" type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Logging.LoggingExceptionHandler, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Logging"
							name="Logging Handler" />
					</exceptionHandlers>
				</add>
			</exceptionTypes>
		</add>
	</exceptionPolicies>
</exceptionHandling>