<div id="body">
    <div class="container-fluid">
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container" style="padding-bottom: 30px">
                <div class="row">
                    <div class="col-md-12">
                        <h2>Indexação de documentos clínicos</h2>
                    </div>
                    <div class="col-md-12">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Search for..." id="contId" />
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button" value="Search" onclick="find();">Search</button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
        <div class="container" style="padding-top: 150px;">
            <div class="row">
                <div class="col-md-12">
                    <div class="list-group" id="contribution" />
                </div>
            </div>
        </div>
    </div>

    <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.2.2.min.js"></script>
    <script>

        function formatItem(item) {
            var value = "<div class='panel panel-default'><div class='panel-body'>" +
                        "<b>" + item["first_name"] + " " + item["last_name"] +
                        " - " + item["dob"] + "</b><br/><small> "+ item["text"] +
                        "</small><a href='/Home/GetDoc/" + item["elemento_id"] + "_" + item["cod_versao"] + "'>Documento</a>&nbsp;-&nbsp;<a href='' onclick=''>Informação Demográfica</a></div></div>";
            return value;
        }

        function find() {
            var uri = 'api/contributions';
            var val = $('#contId').val();

            $.getJSON(uri + '/' + val)
                .done(function (data) {
                    contributions = data;
                    $('#contribution').text("");
                    $.each(data, function (key, item) {
                        // Add a list item for the product.
                        $('#contribution').append(formatItem(item));
                    });
                })
                .fail(function (jqXHR, textStatus, err) {
                    $('#contribution').text('Error: ' + err);
                });
        }

        function getFile() {
            var uri = 'api/documents';
            var val = $("#link").closest("div.panel-default").attr("id");
            var final_url = "@Url.Action("GetDoc", "HomeController", new { id="key"})";
            final_url = final_url.replace("key", val);
            alert(final_url);

            $.get(final_url, null, function (data) {
                alert(data);
            });
        }
    </script>
</div>
