<div id="body">
    <nav class="navbar navbar-default navbar-static-top">
        <div class="container">
            <div class="form-group">
                <div class="row">
                    <div class="col-md-12">
                        <h2>Indexação de documentos clínicos</h2>
                    </div>
                    <div class="col-md-10">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Procurar por..." id="contId" value="@ViewBag.SearchTerm"/>
                            <span class="input-group-btn">
                                <button id="searchBtn" class="btn btn-default" type="button" value="Search" onclick="find(1);">Procurar</button>
                            </span>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <button id="AdvSearchBtn" class="btn btn-default" type="button" value="Search" onclick="toggleAdvSearch();">Pesquisa Avançada</button>
                    </div>
                    @Html.Partial("AdvancedSearchPartial")
                </div>
            </div>
        </div>
    </nav>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="list-group" id="contribution">@*Html.Partial("ResultsPartial")*@</div>
            </div>
        </div>
        <div class="row">
            <div id="pagination" class="col-md-12">@*Html.Partial("PaginationPartial")*@</div>
        </div>
    </div>

    @section scripts {
        <script>
            $(document).ready(function () {
                onhashchange();
                $("#contId").keypress(function (event) {
                    if (event.keyCode == 13) {
                        $("#searchBtn").click();
                    }
                });
                $("#contId").keyup(function () {
                    if (!this.value) {
                        $('#contribution').html("");
                        $('#pagination').html("");
                    }
                });
            });

            $(window).on('hashchange', function () {
                onhashchange();
            });

            function onhashchange() {
                $('#contribution').html("");
                $('#pagination').html("");
                if (window.location.hash.length != 0) {
                    var values = window.location.hash.split("/");
                    var id = values[0].replace("#", "").replace(RegExp("%20", "g"), " ");

                    var val = id.split("_");

                    $('#contId').val(val[0]);
                    $('#dateBox1').val(val[1]);
                    $('#dateBox2').val(val[2]);

                    updateResults(id, values[1]);
                } else {
                    $('#contId').val("");
                    $('#dateBox1').val("");
                    $('#dateBox2').val("");
                }
            }

            function find(pg) {
                if ($('#contId').val() != "" || ($("#dateBox1").val() != "" && $("#dateBox2").val() != "")) {
                    if ($("#dateBox1").val() == "" || $("#dateBox2").val() == "") {
                        window.location.hash = $('#contId').val().replace(RegExp(" ", "g"), "%20") + '/' + pg;
                    } else {
                        window.location.hash = $('#contId').val().replace(RegExp(" ", "g"), "%20") + '_' + $("#dateBox1").val().replace(RegExp(" ", "g"), "%20") + '_' + $("#dateBox2").val().replace(RegExp(" ", "g"), "%20") + '/' + pg;
                    }

                    $("html, body").animate({
                        scrollTop: 0
                    }, 0);
                }
            }

            function updateResults(id, page) {
                $.ajax({
                    type: "GET",
                    url: '@Url.Action("Search","Home")',
                    data: { id: id, page: page }
                }).done(function (data) {
                    $("#contribution").html(data);
                    updatePagination();
                });
            }

            function updatePagination() {
                $.ajax({
                    type: "GET",
                    url: '@Url.Action("Pagination","Home")'
                }).done(function (data) {
                    $("#pagination").html(data);
                });
            }


            $(function () {
                $('#datetimepicker6').datetimepicker({
                    locale: 'pt',
                    format: 'LL',
                    ignoreReadonly: true
                });
                $('#datetimepicker7').datetimepicker({
                    useCurrent: false,
                    locale: 'pt',
                    format: 'LL',
                    ignoreReadonly: true
                });
                $("#datetimepicker6").on("dp.change", function (e) {
                    $('#datetimepicker7').data("DateTimePicker").minDate(e.date);
                });
                $("#datetimepicker7").on("dp.change", function (e) {
                    $('#datetimepicker6').data("DateTimePicker").maxDate(e.date);
                });
            });

            function toggleAdvSearch() {
                $("#AdvSearch").toggle(500);
            }
        </script>
    }
    
</div>
