<div id="body">
    <div class="container-fluid">
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container" style="padding-bottom: 30px">
                <div class="row">
                    <div class="col-md-12">
                        <h2>Indexação de documentos clínicos</h2>
                    </div>
                    <div class="col-md-12">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Procurar por..." id="contId" value="@ViewBag.searchModel.SearchTerm"/>
                            <span class="input-group-btn">
                                <button id="searchBtn" class="btn btn-default" type="button" value="Search" onclick="find(1);">Procurar</button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
        <div class="container" style="padding-top: 150px;">
            <div class="row">
                <div class="col-md-12">
                    <div class="list-group" id="contribution">@*Html.Partial("ResultsPartial")*@</div>
                </div>
            </div>
            <div class="row">
                <div id="pagination" class="col-md-12">@*Html.Partial("PaginationPartial")*@</div>
            </div>
        </div>
    </div>

    @section scripts {
        <script>
            $(document).ready(function () {
                onhashchange();
                $("#contId").keypress(function (event) {
                    if (event.keyCode == 13) {
                        $("#searchBtn").click();
                    }
                });
                $("#contId").keyup(function () {
                    if (!this.value) {
                        $('#contribution').html("");
                        $('#pagination').html("");
                    }
                });
            });

            $(window).on('hashchange', function () {
                onhashchange();
            });

            function onhashchange() {
                $('#contribution').html("");
                $('#pagination').html("");
                if (window.location.hash.length != 0) {
                    var values = window.location.hash.split("/");
                    var id = values[0].replace("#", "").replace("%20", " ");

                    $('#contId').val(id);

                    updateResults(id, values[1]);
                } else {
                    $('#contId').val("");
                }
            }

            function find(pg) {
                if ($('#contId').val() != "") {
                    window.location.hash = $('#contId').val().replace(" ", "%20") + '/' + pg;

                    $("html, body").animate({
                        scrollTop: 0
                    }, 0);
                }
            }

            function updateResults(id, page) {
                $.ajax({
                    type: "GET",
                    url: '@Url.Action("Search","Home")',
                    data: { id: id, page: page }
                }).done(function (data) {
                    $("#contribution").html(data);
                    updatePagination();
                });
            }

            function updatePagination() {
                $.ajax({
                    type: "GET",
                    url: '@Url.Action("Pagination","Home")'
                }).done(function (data) {
                    $("#pagination").html(data);
                });
            }
        </script>
    }
    
</div>
