<div id="body">
    <div class="container-fluid">
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container" style="padding-bottom: 30px">
                <div class="row">
                    <div class="col-md-12">
                        <h2>Indexação de documentos clínicos</h2>
                    </div>
                    <div class="col-md-12">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Procurar por..." id="contId" />
                            <span class="input-group-btn">
                                <button id="searchBtn" class="btn btn-default" type="button" value="Search" onclick="find();">Procurar</button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
        <div id="results" class="container" style="padding-top: 150px;"/>
    </div>

    <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.2.2.min.js"></script>
    <script>
        $(document).ready(function () {
            find();

            $("#contId").keypress(function (event) {
                if (event.keyCode == 13) {
                    $("#searchBtn").click();
                }
            });
        });

        function find() {
            $.ajax({
                type: 'GET',
                url: '@Url.Action("Search","Home")',
                data: {id: $('#contId').val()},
                datatype: "html",
                success: function (data) { 
                    $('#results').html(data);
                }
            });
        }
    </script>
</div>
