<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="DocumentsEndpoint" />
                <binding name="FilesEndpoint" />
                <binding name="BasicHttpBinding_ILocalEResultsService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://helenaaraujo.glintt.com/Cpchs.Documents.WCF.Host/Service.svc"
                binding="basicHttpBinding" bindingConfiguration="DocumentsEndpoint"
                contract="DocumentsManagementWs.DocumentsManagementSC" name="DocumentsEndpoint" />
            <endpoint address="http://helenaaraujo.glintt.com/Cpchs.Documents.WCF.Host/FilesManagementWS.svc"
                binding="basicHttpBinding" bindingConfiguration="FilesEndpoint"
                contract="FilesManagementWS.FilesManagementSC" name="FilesEndpoint" />
            <endpoint address="http://localhost/GlinttHS.API.Internal.WS/Local/eResults/LocalEResultsService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ILocalEResultsService"
                contract="LocalEResultsService.ILocalEResultsService" name="BasicHttpBinding_ILocalEResultsService" />
        </client>
    </system.serviceModel>
</configuration>