<?xml version="1.0" encoding="utf-8"?>
<Modules xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://tempuri.org/Module.xsd">
  <Module>
    <Name>BillingManagement</Name>
    <Configurations>
      <Configuration>
        <CompanyName>CPCHS_LOCAL_HSDEV</CompanyName>
        <DatabaseConfigName>dotnetCPCHS_LOCAL_HSDEV</DatabaseConfigName>
      </Configuration>
    </Configurations>
  </Module>
  <Module>
    <Name>ActivitiesManagement</Name>
    <Configurations>
      <Configuration>
        <CompanyName>CPCHS_LOCAL_HSDEV</CompanyName>
        <DatabaseConfigName>dotnetCPCHS_LOCAL_HSDEV</DatabaseConfigName>
      </Configuration>
    </Configurations>
  </Module>
  <Module>
    <Name>HospitalAreas</Name>
    <Configurations>
      <Configuration>
        <CompanyName>CPCHS_LOCAL_HSDEV</CompanyName>
        <DatabaseConfigName>dotnetCPCHS_LOCAL_HSDEV</DatabaseConfigName>
      </Configuration>
    </Configurations>
  </Module>
  <Module>
    <Name>Igif</Name>
    <Configurations>
      <Configuration>
        <CompanyName>CPCHS_LOCAL_HSDEV</CompanyName>
        <DatabaseConfigName>dotnetCPCHS_LOCAL_HSDEV</DatabaseConfigName>
      </Configuration>
    </Configurations>
  </Module>
  <Module>
    <Name>ClinicalProcess</Name>
    <Configurations>
      <Configuration>
        <CompanyName>CPCHS_LOCAL_HSDEV</CompanyName>
        <DatabaseConfigName>dotnetCPCHS_LOCAL_HSDEV</DatabaseConfigName>
      </Configuration>
    </Configurations>
  </Module>
  <Module>
    <Name>Forms</Name>
    <Configurations>
      <Configuration>
        <CompanyName>CPCHS_LOCAL_HSDEV</CompanyName>
        <DatabaseConfigName>dotnetCPCHS_LOCAL_HSDEV</DatabaseConfigName>
      </Configuration>
    </Configurations>
  </Module>
  <Module>
    <Name>Base</Name>
    <Configurations>
      <Configuration>
        <CompanyName>CPCHS_LOCAL_HSDEV</CompanyName>
        <DatabaseConfigName>dotnetCPCHS_LOCAL_HSDEV</DatabaseConfigName>
      </Configuration>
    </Configurations>
  </Module>
  <Module>
    <Name>Codifications</Name>
    <Configurations>
      <Configuration>
        <CompanyName>CPCHS_LOCAL_HSDEV</CompanyName>
        <DatabaseConfigName>dotnetCPCHS_LOCAL_HSDEV</DatabaseConfigName>
      </Configuration>
    </Configurations>
  </Module>
  <Module>
    <Name>DocumentManagement</Name>
    <Configurations>
      <Configuration>
        <CompanyName>CPCHS_LOCAL_HSDEV</CompanyName>
        <DatabaseConfigName>dotnetCPCHS_LOCAL_HSDEV</DatabaseConfigName>
      </Configuration>
    </Configurations>
  </Module>
  <Module>
    <Name>Entities</Name>
    <Configurations>
      <Configuration>
        <CompanyName>CPCHS_LOCAL_HSDEV</CompanyName>
        <DatabaseConfigName>dotnetCPCHS_LOCAL_HSDEV</DatabaseConfigName>
      </Configuration>
    </Configurations>
  </Module>
  <Module>
    <Name>ReportsManagement</Name>
    <Configurations>
      <Configuration>
        <CompanyName>CPCHS_LOCAL_HSDEV</CompanyName>
        <DatabaseConfigName>dotnetCPCHS_LOCAL_HSDEV</DatabaseConfigName>
      </Configuration>
    </Configurations>
  </Module>
  <Module>
    <Name>ApplicationSecurity</Name>
    <Configurations>
      <Configuration>
        <CompanyName>CPCHS_LOCAL_HSDEV</CompanyName>
        <DatabaseConfigName>dotnetCPCHS_LOCAL_HSDEV</DatabaseConfigName>
      </Configuration>
    </Configurations>
  </Module>
  <Module>
    <Name>Notifications</Name>
    <Configurations>
      <Configuration>
        <CompanyName>CPCHS_LOCAL_HSDEV</CompanyName>
        <DatabaseConfigName>dotnetCPCHS_LOCAL_HSDEV</DatabaseConfigName>
      </Configuration>
    </Configurations>
  </Module>
  <Module>
    <Name>UrgencyManagement</Name>
    <Configurations>
      <Configuration>
        <CompanyName>CPCHS_LOCAL_HSDEV</CompanyName>
        <DatabaseConfigName>dotnetCPCHS_LOCAL_HSDEV</DatabaseConfigName>
      </Configuration>
    </Configurations>
  </Module>
  <Module>
    <Name>Pharmacy</Name>
    <Configurations>
      <Configuration>
        <CompanyName>CPCHS_LOCAL_HSDEV</CompanyName>
        <DatabaseConfigName>dotnetCPCHS_LOCAL_HSDEV</DatabaseConfigName>
      </Configuration>
    </Configurations>
  </Module>
  <Module>
    <Name>TrackingManagement</Name>
    <Configurations>
      <Configuration>
        <CompanyName>CPCHS_LOCAL_HSDEV</CompanyName>
        <DatabaseConfigName>dotnetCPCHS_LOCAL_HSDEV</DatabaseConfigName>
      </Configuration>
    </Configurations>
  </Module>
  <Module>
    <Name>CardiologyManagement</Name>
    <Configurations>
      <Configuration>
        <CompanyName>CPCHS_LOCAL_HSDEV</CompanyName>
        <DatabaseConfigName>dotnetCPCHS_LOCAL_HSDEV</DatabaseConfigName>
      </Configuration>
    </Configurations>
  </Module>
  <Module>
    <Name>CallPanels</Name>
    <Configurations>
      <Configuration>
        <CompanyName>CPCHS_LOCAL_HSDEV</CompanyName>
        <DatabaseConfigName>dotnetCPCHS_LOCAL_HSDEV</DatabaseConfigName>
      </Configuration>
    </Configurations>
  </Module>
  <Module>
    <Name>InterfacesManagement</Name>
    <Configurations>
      <Configuration>
        <CompanyName>CPCHS_LOCAL_HSDEV</CompanyName>
        <DatabaseConfigName>dotnetCPCHS_LOCAL_HSDEV</DatabaseConfigName>
      </Configuration>
    </Configurations>
  </Module>
  <Module>
    <Name>MCDTS</Name>
    <Configurations>
      <Configuration>
        <CompanyName>CPCHS_LOCAL_HSDEV</CompanyName>
        <DatabaseConfigName>dotnetCPCHS_LOCAL_HSDEV</DatabaseConfigName>
      </Configuration>
    </Configurations>
  </Module>
  <Module>
    <Name>RoleManagement</Name>
    <Configurations>
      <Configuration>
        <CompanyName>CPCHS_LOCAL_HSDEV</CompanyName>
        <DatabaseConfigName>SecurityCPCHS_LOCAL_HSDEV</DatabaseConfigName>
      </Configuration>
    </Configurations>
  </Module>
  <Module>
    <Name>MembershipManagement</Name>
    <Configurations>
      <Configuration>
        <CompanyName>CPCHS_LOCAL_HSDEV</CompanyName>
        <DatabaseConfigName>SecurityCPCHS_LOCAL_HSDEV</DatabaseConfigName>
      </Configuration>
    </Configurations>
  </Module>
  <Module>
    <Name>Security</Name>
    <Configurations>
      <Configuration>
        <CompanyName>CPCHS_LOCAL_HSDEV</CompanyName>
        <DatabaseConfigName>SecurityCPCHS_LOCAL_HSDEV</DatabaseConfigName>
      </Configuration>
    </Configurations>
  </Module>
  <Module>
    <Name>Security3</Name>
    <Configurations>
      <Configuration>
        <CompanyName>CPCHS_LOCAL_HSDEV</CompanyName>
        <DatabaseConfigName>Security3CPCHS_LOCAL_HSDEV</DatabaseConfigName>
      </Configuration>
    </Configurations>
  </Module>
  <Module>
    <Name>ActivitiesWCF</Name>
    <Configurations>
      <Configuration>
        <CompanyName>CPCHS_LOCAL_HSDEV</CompanyName>
        <DatabaseConfigName>eresultsCPCHS_LOCAL_HSDEV</DatabaseConfigName>
      </Configuration>
    </Configurations>
  </Module>
  <Module>
    <Name>EntitiesWCF</Name>
    <Configurations>
      <Configuration>
        <CompanyName>CPCHS_LOCAL_HSDEV</CompanyName>
        <DatabaseConfigName>eresultsCPCHS_LOCAL_HSDEV</DatabaseConfigName>
      </Configuration>
    </Configurations>
  </Module>
  <Module>
    <Name>DocumentsWCF</Name>
    <Configurations>
      <Configuration>
        <CompanyName>CPCHS_LOCAL_HSDEV</CompanyName>
        <DatabaseConfigName>eresultsCPCHS_LOCAL_HSDEV</DatabaseConfigName>
      </Configuration>
    </Configurations>
  </Module>
  <Module>
    <Name>InteropWCF</Name>
    <Configurations>
      <Configuration>
        <CompanyName>CPCHS_LOCAL_HSDEV</CompanyName>
        <DatabaseConfigName>eresultsCPCHS_LOCAL_HSDEV</DatabaseConfigName>
      </Configuration>
    </Configurations>
  </Module>
  <Module>
    <Name>ER2Indexer</Name>
    <Configurations>
      <Configuration>
        <CompanyName>CPCHS_LOCAL_HSDEV</CompanyName>
        <DatabaseConfigName>eresultsCPCHS_LOCAL_HSDEV</DatabaseConfigName>
      </Configuration>
    </Configurations>
  </Module>
  <Module>
    <Name>HistoryWCF</Name>
    <Configurations>
      <Configuration>
        <CompanyName>CPCHS_LOCAL_HSDEV</CompanyName>
        <DatabaseConfigName>eresultsCPCHS_LOCAL_HSDEV</DatabaseConfigName>
      </Configuration>
    </Configurations>
  </Module>
  <Module>
    <Name>ErRequests</Name>
    <Configurations>
      <Configuration>
        <CompanyName>CPCHS_LOCAL_HSDEV</CompanyName>
        <DatabaseConfigName>eresultsCPCHS_LOCAL_HSDEV</DatabaseConfigName>
      </Configuration>
      <Configuration>
        <CompanyName>CPCHS_VDEMO</CompanyName>
        <DatabaseConfigName>eresultsCPCHS_LOCAL_HSDEV</DatabaseConfigName>
      </Configuration>
    </Configurations>
  </Module>
  <Module>
    <Name>ErCodifications</Name>
    <Configurations>
      <Configuration>
        <CompanyName>CPCHS_LOCAL_HSDEV</CompanyName>
        <DatabaseConfigName>eresultsCPCHS_LOCAL_HSDEV</DatabaseConfigName>
      </Configuration>
    </Configurations>
  </Module>
  <Module>
    <Name>ErEntities</Name>
    <Configurations>
      <Configuration>
        <CompanyName>CPCHS_LOCAL_HSDEV</CompanyName>
        <DatabaseConfigName>eresultsCPCHS_LOCAL_HSDEV</DatabaseConfigName>
      </Configuration>
    </Configurations>
  </Module>
  <Module>
    <Name>VideoProcessorWCF</Name>
    <Configurations>
      <Configuration>
        <CompanyName>CPCHS_LOCAL_HSDEV</CompanyName>
        <DatabaseConfigName>eresultsCPCHS_LOCAL_HSDEV</DatabaseConfigName>
      </Configuration>
    </Configurations>
  </Module>  
</Modules>